.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #00C457 !important;
}
.jumbotron-fluid {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#CC041E+0,000000+100 */
/* background: #CC041E; /* Old browsers */ */
/* background: -moz-linear-gradient(top, #CC041E 0%, #000000 100%); /* FF3.6-15 */ */
/* background: -webkit-linear-gradient(top, #CC041E 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */ */
/* background: linear-gradient(to bottom, #CC041E 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC041E', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
/*  */

}
.schedule {
    height: 700px;
    overflow: auto;
}
.jumbotron{
    /* background-color: black; */
    background-image: url("../Images/Stadium.jpg") !important;
    background-size: cover;
}

.fullscreen {
  height: 100vh;
}

.header-text {
  color: white;
}

.header-p {
  color: white;
}

.btn {
  background-color: #00C457 !important;
  color: white;
}

.btn:hover {
  background-color: white !important;
  color: #00C457 !important;
  border-color: solid 1px #00C457 !important;
}

#search-headings {
  padding: 10px;
}

#search-form, .form-control {
    margin-bottom: 20px;
}
#myFooter {
    color:white;
    background-color: black;
    height: 50px;
    padding-top: 10px;
}
.currentStatus{
    color:red;
}
.fix{
    padding-top: 20%;
}
